* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dark {
  background-color: #111;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  /* color: #333; */
  /* color: wheat; */
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-control input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-control input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.switcher {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 0.1rem solid black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: #111;
    color: whitesmoke;
  }
}
.switch-dark {
  border: 0.1rem solid whitesmoke;

  &:hover {
    background-color: #f4f4f4;
    color: black;
  }
}
